/*********************************** INDEX ************************************/

/*************** GERAL ***************/
body {

  font-family: 'Roboto', sans-serif;
  /* Fonte do Google Fonts */
  background-color: #580000;
  /* Cor de fundo */
  width: 60%;
  /* Largura da página */
  margin: auto;
  /* Centralizar a página no eixo */
  padding: 2% 0;
  /* Espaço entre o topo e o  conteúdo, e entre o conteúdo e o rodapé*/
  line-height: 1.5;
  /* Espaçamento entre linhas */

}


main {

  background-color: #fff;
  /* Fundo branco */
  border-radius: 10px;
  /* Mantem o estilo de borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*Cria uma sombra */
  padding: 30px;

}


header {

  text-align: center;
  /* Alinha os elementos na área principal */
  padding: 20px;
  /* Espaço em volta dos elementos */
  background-color: #580000;
  /* Cor de fundo para o header */
  color: #580000;
  /* Cor do texto do header */

}

header img {

  border-radius: 50%;

}


/**************** TITULOS ***************/
h1 {

  margin: 10px 0;

}

h2 {

  color: #630000;

}


/***************** LISTAS ****************/
ul {

  list-style-type: disc;
  padding: 0 30px;

}

li {

  margin-bottom: 5px;

}


/****************** LINKS *****************/
a {

  color: #911414;
  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}


/**************** SEÇÕES ******************/
.section {

  margin-bottom: 30px;

}

.Secao-Contato {
  border-top: 2px solid #580000;
  /* Adiciona uma borda superior */

}



/****************************** EXPERIÊNCIA DETALHADA ****************************/

.experiencia-imagem {

  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.voltar-link {

  border: 2px solid #000000;
  border-radius: 10px #000000;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  /* Fundo branco */
  border-radius: 10px;
  /* Mantem o estilo de borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*Cria uma sombra */
  color: #630000;
  padding: 5px 10px;

}

.tabela {

  table {
    width: 100%;
    border-collapse: collapse;
    /* Remove espaçamento entre as células */
    margin-bottom: 30px;
    /* Adiciona espaço abaixo da tabela */
  }

  th {

    background-color: #a00000;
    /* Cor de fundo do cabeçalho */
    color: #ffffff;
    /* Cor do texto do cabeçalho */
    padding: 40px;
    /* Espaçamento interno */

  }

  td {

    padding: 40px;
    /* Espaçamento interno */
    border-bottom: 1px solid #eeeeee;
    /* Adiciona linha divisória entre as linhas */

  }

  tr {

    background-color: #a00000;
    /* Cor de fundo para linhas pares */

  }

  .tabela td.descricao {
    text-align: center;
    /* Centraliza o texto horizontalmente */
    vertical-align: text-bottom;
    /* Centraliza o texto verticalmente */
    line-height: 1.5;
    /* Espaçamento entre as linhas de texto */
  }
}

h3 {

  color: #630000;

}