* {
    margin: 0;
    padding: 0;
}

body {

    background: #9A3B3B;
    color: white;/*cor da fonte(letra)*/
}

div {

    background: #C08261;
    margin: 20px;
    padding: 20px;
    border: solid 3px black;
}

.caixa-menor {

    background: #E2C799;
    width: 40%;
}

.conteiner {

    width: 1120px;
    min-height: 400px;
    padding: 0;
    overflow: auto;
    margin: 20px auto 20px auto;
}

.esconder {

    display: none;
}

.bloco {

    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 0;
}

.b1 {

    width: 50%;
    background: #561C24;
    float: left;
}

.b2 {

    width: 50%;
    background: #6D2932;
    float: left;
}

.b3 {
    background: #C7B7A3;
    float: left;
}

.b4 {
    background: #E8D8C4;
    float: left;
}
